body {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.5rem;

}

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 100vh;
    overflow: hidden;

}

.panel {
    color: white;
    border: white 1px solid;
    display: flex;
    flex: 1;
    /* height: 100%; */
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-size: cover;
    /* transition: all 100ms ease-in-out; */
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-size: 1.5rem;
}

.panel:nth-of-type(1) {
    background: url('https://source.unsplash.com/800x600/?nature');
    background-size: cover;

}

.panel:nth-of-type(2) {
    background: url('https://source.unsplash.com/1200x600/?water');
    background-size: cover;
}

.panel:nth-of-type(3) {
    background: url('https://source.unsplash.com/800x600/?earth');
    background-size: cover;
}

.panel:nth-of-type(4) {
    background: url('https://source.unsplash.com/800x600/?green');
    background-size: cover;
}

.panel:nth-of-type(5) {
    background: url('https://source.unsplash.com/800x600/?blue');
    background-size: cover;
}

.panel:nth-of-type(6) {
    background: url('https://source.unsplash.com/800x600/?stars');
    background-size: cover;
}

.active {
    display: flex;
    flex: 6;
}

.active div:nth-child(2) {
    font-size: 2rem;
}

.panel>* {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    /* border: 1px red solid; */
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.panel>*:last-child {
    transform: translateY(100%);
}

.panel.open>*:last-child {
    transform: translateY(0%);
}

.panel>*:first-child {
    transform: translateY(-100%);
}

.panel.open>*:first-child {
    transform: translateY(0%);
}