body {
    background-color: black;

}

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
}

.panel {
    color: white;
    border: white 1px solid;
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

}

.panel:nth-of-type(1) {
    background: url('https://source.unsplash.com/800x600/?nature');
}

.panel:nth-of-type(2) {
    background: url('https://source.unsplash.com/800x600/?water');
}

.panel:nth-of-type(3) {
    background: url('https://source.unsplash.com/800x600/?earth');
}

.panel:nth-of-type(4) {
    background: url('https://source.unsplash.com/800x600/?green');
}

.panel:nth-of-type(5) {
    background: url('https://source.unsplash.com/800x600/?blue');
}

.panel:nth-of-type(6) {
    background: url('https://source.unsplash.com/800x600/?stars');
}

.active {
    display: flex;
    flex: 3;
}

.panel>* {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border: 1px red solid;
}